@page
@model PureMatch.Pages.pm.CreateAccount

<h1>Indtast Oplysninger</h1>

<form method="post">
    
    <div>
        <label for="Name">Navn:</label>
        <input type="text" id="Name" name="Name" >
    </div>
    


    <div>
        <label for="Username">Brugernavn:</label>
        <input type="text" id="Username" name="Username" >
    </div>
    

    <div>
        <label for="Password">Adgangskode:</label>
        <input type="text" id="Password" name="Password" >
    </div>
    

    <div>
        <label for="PhoneNumber">Telefonnummer:</label>
        <input type="Phonenumber" id="Phonenumber" name="Phonenumber" >
    </div>
    

    <div>
        <label for="Email">Email:</label>
        <input type="text" id="Email" name="Email" >
    </div>
    

    <div>
        <label for="CardNumber">Kortnummer:</label>
        <input type="text" id="Cardnumber" name="Cardnumber" >
    </div>
    

    <div>
        <label for="Card-CVC">CVC nummer:</label>
        <input type="text" id="Card-CVC" name="Card-Cvc" >
    </div>
    


    <div>
        <label for="CardexpMonth">KortUdløbsmåned:</label>
        <input type="text" id="CardexpMonth" name="CardexpMonth" >
    </div>
    


    <div>
        <label for="CardExpYear">KortUdløbsmåned:</label>
        <input type="text" id="CardExpYear" name="CardExpYear" >
    </div>







</form>
