@page
@model PureMatch.Pages.pm.CreateAccount

<h1>Indtast Oplysninger</h1>

<form method="post">
    
    <div>
        <label for="Name">Navn:</label>
        <input type="text" name="Name" >
    </div>
    


    <div>
        <label for="Username">Brugernavn:</label>
        <input type="text"  name="Username" >
    </div>
    

    <div>
        <label for="Password">Adgangskode:</label>
        <input type="text"  name="Password" >
    </div>
    

    <div>
        <label for="PhoneNumber">Telefonnummer:</label>
        <input type="Phonenumber" name="Phonenumber" >
    </div>
    

    <div>
        <label for="Email">Email:</label>
        <input type="text"  name="Email" >
    </div>
    

    <div>
        <label for="CardNumber">Kortnummer:</label>
        <input type="text"  name="Cardnumber" >
    </div>
    

    <div>
        <label for="Card-CVC">CVC nummer:</label>
        <input type="text"  name="Card-Cvc" >
    </div>
    


    <div>
        <label for="CardexpMonth">KortUdløbsmåned:</label>
        <input type="text"  name="CardexpMonth" >
    </div>
    


    <div>
        <label for="CardExpYear">KortUdløbsmåned:</label>
        <input type="text"  name="CardExpYear" >
    </div>

<button type="submit">Videre</button>
    
</form>
