@page
@model PureMatch.Pages.pm.DeleteConfirmationModel
@{
}
<h1 class="text-blue">Bekræft sletning af besked</h1>
<div class="row"> 
    <div class="col-4">
    </div>
    
    <div class="container-main padding5bot backgroundcolor text-center col-4">
        <div>
            <div>
                
                <p class="backgroundcolorbuttonblack">@Model.MessageContent</p>

                <form method="post">
                    <input type="submit" value="Annullér" asp-route-delete="false" class="btn backgroundcolorbutton" />
                    <input type="submit" value="Slet" asp-route-delete="true" class="btn backgroundcolorbuttonblue" />
                    <div class="visually-hidden">
                            <input type="number" asp-for="@Model.MessageID" />
                            <input type="text" asp-for="@Model.MessageContent" />
                            <input type="number" asp-for="@Model.RecipientID" />
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="col-4">
    </div>

</div>



