@page
@model PureMatch.Pages.pm.PureMatchRoot

@{
    
}
<head>
    <title>PureGym - PureMatch</title>
</head>
<body>
    <h1>PureMatch - Find den perfekte træningspartner</h1>

    
    <div class="container">
        <div class="row">
            <div class="col-2">
                s
            </div>
            <div class="col-8 border">
                <p>
                    PureMatch er til dig der mangler en træningsmakker. Indtast dine oplysninger under din profil, klik på PureMatch og find din makker idag!
                    For at benytte PureMatch skal du være logget ind og have et aktivtmedlemskab.
                </p>
                <a href="../Login/SubscriptionChoice"><button style="margin-right: 10px;">Bliv medlem</button></a>
                <a href="../Login/LoginPage"><button>Log ind</button></a>
            </div>
            <div class="col-2">
                s
            </div>
        </div>
    </div>

   
    
    
</body>





