@page
@model PureMatch.Pages.pm.PureMatchRoot

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>PureGym - PureMatch</title>
</head>
<body>
    <h1>PureMatch - Find den perfekte træningspartner</h1>

    <p>
        PureMatch er til dig der mangler en træningsmakker. Indtast dine oplysninger under din profil, klik på PureMatch og find din makker idag!
        For at benytte PureMatch skal du være logget ind og have et aktivtmedlemskab.
    </p>


     <div>
        <button onclick="window.location.href='/BlivMedlem'" style="margin-right: 10px;">Bliv medlem</button>
        <button onclick="window.location.href='/LogInd'">Log ind</button>
    </div>
</body>
</html>




