@page
@using PureLib.Model
@model PureMatch.Pages.pm.UserPageModel
@{
    User u = null!; 
    try
    {
        u = SessionHelper.Get<User>(u, HttpContext); 
    }
    catch
    {
        
    }

}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<h1 class="text-blue">@Model.MatchUser.Name</h1>
<div class="">
    <div class="margin40 backgroundcolor emphersize container-secondary">
        
        <br />
        @if (Model.MatchUser.MuscleGroups.Count == 1)
        {
            <span>Muskelgruppe</span>
        }
        else
        {
            <span>Muskelgrupper</span>
        }
        @foreach (MuscleGroupEnum msgroup in Model.MatchUser.MuscleGroups)
        {
            <p>→ @msgroup</p>
            
        }
        <br />
        <span>Niveau</span>
        <p>→ @((LevelsEnum)Model.MatchUser.Level)</p>
        <br />
        @if (Model.MatchUser.Days.Count == 1)
        {
            <span>Dag</span>
        }
        else
        {
            <span>Dage</span>
        }
        @foreach (DaysEnum days in Model.MatchUser.Days)
        {
            <p>→ @days </p>
          
        }

        <br />
        <br />
        <form method="post">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <input type="text" class="form-control margin5top" asp-for="Message" placeholder="Skriv besked her" />
                    </div>
                    <div class="col-2">
                        <div class="infotip d-inline">
                            <img src="~/images/infowide.png" class="infoimg" />
                            <span class="infotiptext infoskew">Beskeden sendes til denne bruger.<br />Brugeren tilføjes til dine chats og i vil have hinanden som kontakter. </span>
                        </div>
                        <button type="submit" class="backgroundcolorbutton" asp-route-matchid="@Model.MatchUser.UserID">Send besked</button>
                        
                    </div>
                    
                    <span asp-validation-for="Message" class="text-danger"></span>
                    
                </div>
                
            </div>
                
        </form>


    </div>
</div>