@page
@model PureMatch.Pages.checkmark.ProfileChangedModel
@{
}
<head>
    <meta http-equiv="refresh" content="2; url=/">
</head>
<h3 class="emphersize centertext">Profil ændringer gemt<br />Vent venligst</h3>
<img src="/images/checkblue.png" class="image-chill" />