@page
@model PureMatch.Pages.checkmark.ProfileCreatedModel
@{
}
<head>
    <meta http-equiv="refresh" content="4; url=/">
</head>

<div class="">
    <h3 class="emphersize centertext">Profil oprettet.<br />Du føres nu til forsiden. Du skal logge ind for at benytte PureMatch.<br />Vent venligst...</h3><br />
    <br />
    <img src="/images/checkblue.png" class="image-chill" />
</div>