@page
@model PureMatch.Pages.checkmark.ProfileChangedModel
@{
}
<head>
    <meta http-equiv="refresh" content="10; url=/">
</head>
<div class="">
    <div class="alert alert-success">
        <h3 class="emphersize centertext">

            Profil ændringer gemt<br />
        </h3>
        <hr />
        Du føres nu til forsiden.<br />Vent venligst...
        <br />
    </div>

    <img src="/images/checkblue.png" class="image-chill"/>

</div>

