@page
@model PureMatch.Pages.checkmark.ProfileChangedModel
@{
}
<head>
    <meta http-equiv="refresh" content="4; url=/">
</head>
<div class="alert-success">
    <h3 class="emphersize centertext">

        Profil ændringer gemt<br />
    </h3>
    Du føres nu til forsiden.<br />Vent venligst
</div>

<img src="/images/checkblue.png" class="image-chill/>