@page
@model PureMatch.Pages.checkmark.ProfileChangedModel
@{
}
<head>
    <meta http-equiv="refresh" content="4; url=/">
</head>
<h3 class="emphersize centertext">Profil ændringer gemt.<br />Du føres nu til forsiden.<br />Vent venligst</h3><br />
<img src="/images/checkblue.png" class="image-chill/>