@page
@model IndexModel
@using PureLib.Model
@{
    ViewData["Title"] = "PureGym - udlev dit potentiale!";
    User u = null!;
    try
    {
        u = SessionHelper.Get<User>(u, HttpContext);
    }
    catch
    {

    }
}

<h1>Puregym</h1>

<a asp-page="/pm/PureMatchRoot">
    <img src="/images/PureMatch.png" alt="To personer der har fundet hinanden via PureMatch" class="frontimage" />
</a>




