@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Puregym</h1>

<a asp-page="/pm/PureMatchRoot">
    <img src="/images/IMG_2367.jpg" alt="To personer der har fundet hinanden via PureMatch" class="frontimage" />
</a>




